html,body{
  width:100%;
  height:100%;
  margin:0;
}
.App {
  text-align: center;
  width:100%;
  height:100%;
}

.App-header {
  padding: 1em;
  margin:0;
  color: white;
  height:10%;
  background: #747474;
}
.App-header h2{
  font-family: AvenirNext-Bold;
  font-size: 2em;
  line-height: 1em;
  color: #ACACAC;
}
.App-header h3{
  font-family: AvenirNext-Bold;
  font-size:1em;
  margin:0;
  color: #565656
}

.App-intro {
  margin-top:2em;
  font-size: large;
}
.buttons{
  display: inline-flex;
}
#login{
  border: solid #222 0.5px;
  background-color: transparent;
  color:#222;
  border-radius: 0;
  transition : 1s all;

}
#login:hover{
  background-color:green;
  color:rgb(245,245,245);
  border:solid green 0.5px;
  transition : 1s all;
}
#register{
  background-color:#222;
  color:white;
  border:solid white 0.5px;
  border-radius:0px;
  transition : 1s all;

}
#register:hover{
  background-color:#00ACED;
  color:white;
  border:solid white 0.5px;
  border-radius: 0px;
  transition : 1s all;
}
.form-group{
  margin-left:33%;
  margin-right:33%;
}
.spacing{
  padding:5px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
