/*
Design principles : 
F4EDF1 - light shades
3AD96E - light accent
60A6AF - brand
737767 - dark accent
2C2D31 - dark shades
*/

html,body{
  width:100%;
  height:100%;
  margin:0;
  background:#F4EDF1 !important;
}
.App {
  text-align: center;
  width:100%;
  height:100%;
}
.App h1{
  /* Total Runs :: */
  font-family: AvenirNext-Bold;
  font-size: 36px;
  color: #2C2D31;
}
.header {
  padding: 0.7em;
  margin:0;
  color: white;
  background: #60A6AF;
  position: relative;
  min-height: 10%;
  width:100%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition:all 1s ease-in-out;
  -o-transition:all 1s ease-in-out;
  transition :all 1s ease-in-out;
  display:table;
}
.header h1 {
  font-family: AvenirNext-Bold, Helvetica;
  font-size: 2em;
  line-height: 1em;
  margin: 0.4em;
  color: #F4EDF1;
}
.box{
  height: 33%;
  display: table;
  width:100%;
  /* Rectangle 2: */
  background: #2C2D31;
  border: 4px solid #2C2D31;
  border-radius: 20px;
}
.box h1{
  /* Total Runs :: */
  font-family: AvenirNext-Bold;
  font-size: 36px;
  color: #F4EDF1;
}
.box h2 {
  /* 53: */
  font-family: AvenirNext-Medium;
  font-size: 4em;
  color: #F4EDF1;
}
.icon{
  padding-bottom:10px;
}
#indicator{
  display: inline-block;
  position: absolute;
  left:15%;
  bottom:65;
}
.center{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
.inlineb{
  display: inline-block;
}
.chart{
  padding:20px;
}
#brand{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}